.P-home {
  height: 100%;
  background: linear-gradient(#f48c8d,#f4c58d);
  display: flex;
  flex-flow: column;
  align-items: center;

  h1 {
    color: #fff;
    margin: 50px 0 20px;
    font-size: 40px;
  }

  .bullet {
    margin: 10px;
  }
}
.Modal {
  position: relative;
  width: 237px;
  min-height: 312px;
  box-sizing: border-box;
  background: url(./images/底板弹窗@2x.png) no-repeat center / 100% 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  color: #fff;

  &-title {
    font-size: 14px;
    font-family: SFPro-Semibold, SFPro;
    font-weight: 600;
    color: #FFFAB4;
    line-height: 16px;
    margin: 20px;
    text-align: center;
  }
  .ant-btn {
    margin-bottom: 50px;
  }
}

.ListItem {
  position: relative;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 5px 16px 5px 11px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #4D21A6;
    left: 0;
    bottom: 0;
    transform: scaleY(0.5);
  }

  .rank {
    width: 40px;
    font-size: 16px;
    font-family: serif;
    color: #B9B3FF;
    text-align: center;
  }

  .avatar {
    width: getSize1(40);
    height: getSize1(40);
    border-radius: 50%;

    margin: 0 10px;
  }

  .name {
    font-size: 14px;
    font-family: SFPro-Regular, SFPro;
    color: #B9B3FF;
  }
}
